<!DOCTYPE html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
</head>
<script src="/socket.io/socket.io.js"></script>
<body>
Test Server!
</body>
<script>
    var socket = io();
</script>
</html>