<!DOCTYPE html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
</head>
<script src="/socket.io/socket.io.js"></script>
<body>
Test Server!
<div id="cnt">0</div>
</body>
<script>
    $(document).ready(function() {
        var socket = io();
        socket.on('conn-count', function(packet) {
            $('#cnt').text(packet.cnt);
        });
    });
</script>
</html>